    <!--Footer-->
<div id="footer" class="outer-wrap bg-dark-grey sx-hide">
    <div class="outer clearfix">
        <div class="col-sm-2" style="width:155px !important;">
            <span class="title">Pages</span>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/about  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/about%27"
                       tppabs="https://www.easybook.com/about">About Us</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/news  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/news%27"
                       tppabs="https://www.easybook.com/news">Latest News</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/deals  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/deals%27"
                       tppabs="https://www.easybook.com/deals">Promotions</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/how-to-book  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/how-to-book%27"
                       tppabs="https://www.easybook.com/how-to-book">How To Book</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/faq  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/faq%27"
                       tppabs="https://www.easybook.com/faq">FAQ</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/contact  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/contact%27"
                       tppabs="https://www.easybook.com/contact">Contact Us</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/site-map  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/site-map%27"
                       tppabs="https://www.easybook.com/site-map">Site Map</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2" style="width:155px !important;">
            <span class="title">Products</span>
            <ul class="footer">
                <li><a href="bus-1.htm" tppabs="https://www.easybook.com/bus">Bus Tickets</a></li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/bus/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/bus/operator%27"
                       tppabs="https://www.easybook.com/bus/operator">Bus Operator</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/bus/terminal  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/bus/terminal%27"
                       tppabs="https://www.easybook.com/bus/terminal">Bus Terminals</a>
                </li>
            </ul>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/train  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train%27"
                       tppabs="https://www.easybook.com/train">Train Tickets</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/train/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train/operator%27"
                       tppabs="https://www.easybook.com/train/operator">Train Operator</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/train/station  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train/station%27"
                       tppabs="https://www.easybook.com/train/station">Train Stations</a>
                </li>
            </ul>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/ferry  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry%27"
                       tppabs="https://www.easybook.com/ferry">Ferry Tickets</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/ferry/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry/operator%27"
                       tppabs="https://www.easybook.com/ferry/operator">Ferry Operator</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/ferry/terminal  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry/terminal%27"
                       tppabs="https://www.easybook.com/ferry/terminal">Ferry Terminal</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2" style="width:155px !important;">
            <ul class="footer">
                <li class="m-top35">
                    <a href="javascript:if(confirm(%27https://www.easybook.com/flight  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/flight%27"
                       tppabs="https://www.easybook.com/flight">Flight Tickets</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/flight/airline  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/flight/airline%27"
                       tppabs="https://www.easybook.com/flight/airline">Airlines</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/flight/airport  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/flight/airport%27"
                       tppabs="https://www.easybook.com/flight/airport">Airport</a>
                </li>
            </ul>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/car  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/car%27"
                       tppabs="https://www.easybook.com/car">Car Rental</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/charter  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/charter%27"
                       tppabs="https://www.easybook.com/charter">Vehicle Charter</a>
                </li>
                <li><a href="#hotel-partners" data-toggle="modal">Hotel Room</a></li>


            </ul>
        </div>
        <div class="col-sm-2" style="width:155px !important;">
            <span class="title">Mobile Apps</span>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://play.google.com/store/apps/details?id=easiphone.easibookbustickets&hl=en  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://play.google.com/store/apps/details?id=easiphone.easibookbustickets&hl=en%27"
                       tppabs="https://play.google.com/store/apps/details?id=easiphone.easibookbustickets&hl=en"
                       target="_blank">Android</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://apps.apple.com/us/app/easybook-bus-train-ferry-car/id668514565  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://apps.apple.com/us/app/easybook-bus-train-ferry-car/id668514565%27"
                       tppabs="https://apps.apple.com/us/app/easybook-bus-train-ferry-car/id668514565"
                       target="_blank">iOs</a>
                </li>

            </ul>
            <br />
            <span class="title">Information</span>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/info  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/info%27"
                       tppabs="https://www.easybook.com/info" target="_blank">Information</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/info/publicholiday  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/info/publicholiday%27"
                       tppabs="https://www.easybook.com/info/publicholiday" target="_blank">Public Holidays</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/info/schoolholiday  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/info/schoolholiday%27"
                       tppabs="https://www.easybook.com/info/schoolholiday" target="_blank">School Holidays</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2" style="width:155px !important;">
            <span class="title">Others</span>
            <ul class="footer">
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/sign-up-operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/sign-up-operator%27"
                       tppabs="https://www.easybook.com/sign-up-operator" class="highlight-link">
                        Become Our
                        Supplier
                    </a>
                </li>
                <li>
                    <a class="highlight-link"
                       href="javascript:if(confirm(%27https://www.easybook.com/affiliate  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/affiliate%27"
                       tppabs="https://www.easybook.com/affiliate">Become Our Affiliate/Agent</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/easipoint-rewards  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/easipoint-rewards%27"
                       tppabs="https://www.easybook.com/easipoint-rewards">Loyalty Program</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/useful-links  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/useful-links%27"
                       tppabs="https://www.easybook.com/useful-links">Useful Links</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/privacy-policy  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/privacy-policy%27"
                       tppabs="https://www.easybook.com/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/terms-of-use  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/terms-of-use%27"
                       tppabs="https://www.easybook.com/terms-of-use">Terms Of Use</a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.easybook.com/advertise-with-us  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/advertise-with-us%27"
                       tppabs="https://www.easybook.com/advertise-with-us">Advertise With Us</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <span class="title">Follow Us</span>
            <ul class="social-media clearfix">

                <li>
                    <a href="javascript:if(confirm(%27https://www.facebook.com/easybook  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.facebook.com/easybook%27"
                       tppabs="https://www.facebook.com/easybook" target="_blank" rel="nofollow">
                        <i class="fa fa-fw fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://twitter.com/easybook_com  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://twitter.com/easybook_com%27"
                       tppabs="https://twitter.com/easybook_com" target="_blank" rel="nofollow">
                        <i class="fa fa-fw fa-twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="javascript:if(confirm(%27https://www.pinterest.com/easybook  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.pinterest.com/easybook%27"
                       tppabs="https://www.pinterest.com/easybook" target="_blank" rel="nofollow">
                        <i class="fa fa-fw fa-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:if(confirm(%27https://www.instagram.com/easybook.travel/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.instagram.com/easybook.travel/%27"
                       tppabs="https://www.instagram.com/easybook.travel/" target="_blank" rel="nofollow">
                        <i class="fa fa-fw fa-instagram"></i>
                    </a>
                </li>

            </ul>
            <div class="text12 text-white m-top25">
                <p class="text-left">
                    © 2006-2019 Easybook.com Pte Ltd. All Rights Reserved. </br> TA Licence: 02152 </br> License No:
                    KPK/LN:6768 <br />
                    Your IP address: 192.119.160.132 <br />
                    Server: G3ASEBW01
                </p>
            </div>
        </div>
    </div>
</div>
