

<!DOCTYPE html>
<html>
<head>
    <title>Book Bus Ticket Online - Express Bus &amp; Coach Bus Tickets | Easybook&#174;</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="favicon.ico" tppabs="https://www.easybook.com/images/favicon.ico" rel="shortcut icon" />
    <link rel="dns-prefetch" href="//www.easybook.com" />

    <meta itemprop="name" content="Easybook.com: Online Express Bus Tickets Booking - Singapore & Malaysia" />
    <meta itemprop="description" content="Easybook.com provides online booking of luxurious coaches and express buses tickets from Singapore to Malaysia and within Malaysia itself." />
    <meta itemprop="image" content="https://www.easybook.com/images/bus/nicecoach01.jpg" />
    <meta name="wot-verification" content="765204235657008abc7d" />
    <meta content="JavaScript" name="vs_defaultClientScript" />


    <meta name="custom-apple-itunes-app" content="app-id=668514565" />
    <meta name="google-play-app" content="app-id=easiphone.easibookbustickets" />
    <meta name="msApplication-ID" content="20142Easibook.EasibookBusTickets" />
    <meta name="msApplication-PackageFamilyName" content="20142Easibook.EasibookBusTickets_jqf2crmfr7rcr" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />

    <script src="~/Assets/js/modernizr-v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1.js"></script>
    <script src="~/Assets/js/jquery-v=3IDLEdNSOausu89EdCIK3wyMMnV6ZOXRqRIP07-PzrM1.js"></script>
    <script src="~/Assets/js/bootstrap-v=k_JLeBNoSD1_JZ8oZULzx8ckKSBM0W_1jydKsYvzZmk1.js"></script>
    <script src="~/Assets/js/jqueryval-v=sP2K3rQeW5-F9Sv41ts-H-yIgkSIL2sWEssRwZGdHA41.js"></script>
    <script src="~/Assets/js/mix-rojak-v=rwIhPIUAgc_8rg2VTFjZVE7l4mcAg7Kkkb_IMlVrj_Y1.js"></script>
</head>

<body>
    <div class="header-wrap">
        <div class="header pr">
            <!--/////////////////////////////-->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a href="javascript:if(confirm(%27https://www.easybook.com/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/%27"
                           tppabs="https://www.easybook.com/">
                            <img src="~/Assets/images/easybook-logo.png"
                                 tppabs="https://easycdn.blob.core.windows.net/easybook/easybook-logo.png" class="logo"
                                 alt="Easybook Logo" />
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <input id="CountryCode" name="CountryCode" type="hidden" value="zz" />

                        <ul class="nav navbar-nav navbar-right topmenu">
                            <div class="fl hidden-xs e-wallet-logo">
                                <div class="mkt-msg">7% p.a.*</div>
                                <a href="javascript:if(confirm(%27https://www.easybook.com/account/login  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/account/login%27"
                                   tppabs="https://www.easybook.com/account/login">
                                    <img src="~/Assets/images/easybook-wallet-logo.svg"
                                         tppabs="https://www.easybook.com/images/ewallet/easybook-wallet-logo.svg" />
                                </a>
                            </div>
                            <li class="hidden-lg hidden-md hidden-sm">
                                <a href="javascript:if(confirm(%27https://www.easybook.com/account/login  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/account/login%27"
                                   tppabs="https://www.easybook.com/account/login">
                                    <div class="e-wallet-logo-m">
                                        <img src="~/Assets/images/easybook-wallet-logo.svg"
                                             tppabs="https://www.easybook.com/images/ewallet/easybook-wallet-logo.svg" />
                                        <div class="mkt-msg">7% p.a.*</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Sign in <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/account/login  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/account/login%27"
                                           tppabs="https://www.easybook.com/account/login" id="loginLink">
                                            <i class="fa fa-fw fa-user"></i>Log in
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/account/register  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/account/register%27"
                                           tppabs="https://www.easybook.com/account/register" id="registerLink">
                                            <i class="fa fa-fw fa-edit"></i> Register
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:if(confirm(%27https://www.easybook.com/recentsearch  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/recentsearch%27"
                                   tppabs="https://www.easybook.com/recentsearch">Recent Search</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Assets/images/flag_vn.jpg"
                                         tppabs="https://www.easybook.com/images/flags/flag_sea.jpg" />


                                    <span class="caret"></span>
                                </a>


                                <ul id="country-list" class="dropdown-menu">
                                    <li>
                                        <a name="country" href="bus-1.htm" tppabs="https://www.easybook.com/bus"
                                           data-defaultcurrency="USD" data-defaultculture="en-zz">
                                            <span class="flag-sea-s sprite"></span> SE Asia
                                        </a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/en-sg/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-sg/bus%27"
                                           tppabs="https://www.easybook.com/en-sg/bus" data-defaultcurrency="SGD"
                                           data-defaultculture="en-sg">
                                            <span class="flag-sg-s sprite"></span>
                                            Singapore
                                        </a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/en-my/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-my/bus%27"
                                           tppabs="https://www.easybook.com/en-my/bus" data-defaultcurrency="MYR"
                                           data-defaultculture="en-my">
                                            <span class="flag-my-s sprite"></span>
                                            Malaysia
                                        </a>
                                    </li>


                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/id-id/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/id-id/bus%27"
                                           tppabs="https://www.easybook.com/id-id/bus" data-defaultcurrency="IDR"
                                           data-defaultculture="id-id">
                                            <span class="flag-id-s sprite"></span>
                                            Indonesia
                                        </a>
                                    </li>

                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/th-th/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/th-th/bus%27"
                                           tppabs="https://www.easybook.com/th-th/bus" data-defaultcurrency="THB"
                                           data-defaultculture="th-th">
                                            <span class="flag-th-s sprite"></span>
                                            Thailand
                                        </a>
                                    </li>

                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/vi-vn/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/vi-vn/bus%27"
                                           tppabs="https://www.easybook.com/vi-vn/bus" data-defaultcurrency="VND"
                                           data-defaultculture="vi-vn">
                                            <span class="flag-vn-s sprite"></span>
                                            Vietnam
                                        </a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/my-mm/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/my-mm/bus%27"
                                           tppabs="https://www.easybook.com/my-mm/bus" data-defaultcurrency="MMK"
                                           data-defaultculture="my-mm">
                                            <span class="flag-mm-s sprite"></span>
                                            Myanmar
                                        </a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/km-kh/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/km-kh/bus%27"
                                           tppabs="https://www.easybook.com/km-kh/bus" data-defaultcurrency="USD"
                                           data-defaultculture="km-kh">
                                            <span class="flag-kh-s sprite"></span>
                                            Cambodia
                                        </a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/la-la/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/la-la/bus%27"
                                           tppabs="https://www.easybook.com/la-la/bus" data-defaultcurrency="LAK"
                                           data-defaultculture="la-la"><span class="flag-la-s sprite"></span> Laos</a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/en-bn/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-bn/bus%27"
                                           tppabs="https://www.easybook.com/en-bn/bus" data-defaultcurrency="SGD"
                                           data-defaultculture="bn-en">
                                            <span class="flag-bn-s sprite"></span>
                                            Brunei
                                        </a>
                                    </li>
                                    <li>
                                        <a name="country"
                                           href="javascript:if(confirm(%27https://www.easybook.com/en-ph/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-ph/bus%27"
                                           tppabs="https://www.easybook.com/en-ph/bus" data-defaultcurrency="USD"
                                           data-defaultculture="ph-en">
                                            <span class="flag-ph-s sprite"></span>
                                            Philippines
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" style="">
                                <a id="currency" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"> Currency <span class="caret"></span></a>
                                <ul id="currency-list" class="dropdown-menu cur">

                                    <li data-value="USD">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/USD  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/USD%27"
                                           tppabs="https://www.easybook.com/USD">
                                            <span class="currency">USD</span><span class="fl">US Dollar</span>
                                        </a>
                                    </li>
                                    <li data-value="SGD">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/SGD  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/SGD%27"
                                           tppabs="https://www.easybook.com/SGD">
                                            <span class="currency">SGD</span><span class="fl">Singapore Dollar</span>
                                        </a>
                                    </li>
                                    <li data-value="MYR">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/MYR  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/MYR%27"
                                           tppabs="https://www.easybook.com/MYR">
                                            <span class="currency">MYR</span><span class="fl">Malaysian Ringgit</span>
                                        </a>
                                    </li>

                                    <li data-value="IDR">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/IDR  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/IDR%27"
                                           tppabs="https://www.easybook.com/IDR">
                                            <span class="currency">IDR</span><span class="fl">Indonesian Rupiah</span>
                                        </a>
                                    </li>
                                    <li data-value="THB">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/THB  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/THB%27"
                                           tppabs="https://www.easybook.com/THB">
                                            <span class="currency">THB</span><span class="fl">Thai Baht</span>
                                        </a>
                                    </li>
                                    <li data-value="VND">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/VND  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/VND%27"
                                           tppabs="https://www.easybook.com/VND">
                                            <span class="currency">VND</span><span class="fl">Vietnamese Dong</span>
                                        </a>
                                    </li>
                                    <li data-value="MMK">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/MMK  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/MMK%27"
                                           tppabs="https://www.easybook.com/MMK">
                                            <span class="currency">MMK</span><span class="fl">Myanmar Kyat</span>
                                        </a>
                                    </li>
                                    <li data-value="CNY">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/CNY  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/CNY%27"
                                           tppabs="https://www.easybook.com/CNY">
                                            <span class="currency">CNY</span><span class="fl">Chinese Yuan</span>
                                        </a>
                                    </li>
                                    <li data-value="LAK">
                                        <a name="currency"
                                           href="javascript:if(confirm(%27https://www.easybook.com/LAK  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/LAK%27"
                                           tppabs="https://www.easybook.com/LAK">
                                            <span class="currency">LAK</span><span class="fl">Lao kip</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a id="language" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"> Language <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a name="language" href="bus-1.htm" tppabs="https://www.easybook.com/bus"
                                           data-defaultculture="en-zz">English</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/zh/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/zh/bus%27"
                                           tppabs="https://www.easybook.com/zh/bus" data-defaultculture="zh-zz">中文</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/ms/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ms/bus%27"
                                           tppabs="https://www.easybook.com/ms/bus"
                                           data-defaultculture="ms-zz">B.Melayu</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/th/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/th/bus%27"
                                           tppabs="https://www.easybook.com/th/bus"
                                           data-defaultculture="th-zz">ภาษาไทย</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/vi/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/vi/bus%27"
                                           tppabs="https://www.easybook.com/vi/bus" data-defaultculture="vi-zz">
                                            Ngôn
                                            ngữ
                                        </a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/id/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/id/bus%27"
                                           tppabs="https://www.easybook.com/id/bus"
                                           data-defaultculture="id-zz">Indonesia</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/la/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/la/bus%27"
                                           tppabs="https://www.easybook.com/la/bus"
                                           data-defaultculture="la-zz">ພາສາ</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/my/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/my/bus%27"
                                           tppabs="https://www.easybook.com/my/bus"
                                           data-defaultculture="my-zz">ဘာသာစကား</a>
                                    </li>
                                    <li>
                                        <a name="language"
                                           href="javascript:if(confirm(%27https://www.easybook.com/km/bus  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/km/bus%27"
                                           tppabs="https://www.easybook.com/km/bus"
                                           data-defaultculture="km-zz">ខ្មែរ</a>
                                    </li>
                                </ul>

                            </li>
                            <li class="hidden-xs">
                                <a href="javascript:if(confirm(%27https://www.easybook.com/contact  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/contact%27"
                                   tppabs="https://www.easybook.com/contact">Contact Us</a>
                            </li>




                            <li class="dropdown lg-hide">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu column-count">
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/deals  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/deals%27"
                                           tppabs="https://www.easybook.com/deals">Promotions</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/news  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/news%27"
                                           tppabs="https://www.easybook.com/news">Latest News</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/how-to-book  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/how-to-book%27"
                                           tppabs="https://www.easybook.com/how-to-book">How To Book</a>
                                    </li>
                                    <li>
                                        <a class="highlight-link"
                                           href="javascript:if(confirm(%27https://www.easybook.com/sign-up-operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/sign-up-operator%27"
                                           tppabs="https://www.easybook.com/sign-up-operator">Become Our Supplier</a>
                                    </li>
                                    <li>
                                        <a class="highlight-link"
                                           href="javascript:if(confirm(%27https://www.easybook.com/affiliate  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/affiliate%27"
                                           tppabs="https://www.easybook.com/affiliate">Become Our Affiliate/Agent</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/easipoint-rewards  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/easipoint-rewards%27"
                                           tppabs="https://www.easybook.com/easipoint-rewards">Loyalty Program</a>
                                    </li>
                                    <li><a href="bus-1.htm" tppabs="https://www.easybook.com/bus">Bus Tickets</a></li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/bus/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/bus/operator%27"
                                           tppabs="https://www.easybook.com/bus/operator">Bus Operator</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/bus/terminal  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/bus/terminal%27"
                                           tppabs="https://www.easybook.com/bus/terminal">Bus Terminals</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/train  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train%27"
                                           tppabs="https://www.easybook.com/train">Train Tickets</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/train/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train/operator%27"
                                           tppabs="https://www.easybook.com/train/operator">Train Operators</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/train/station  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train/station%27"
                                           tppabs="https://www.easybook.com/train/station">Train Stations</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/ferry  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry%27"
                                           tppabs="https://www.easybook.com/ferry">Ferry Tickets</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/ferry/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry/operator%27"
                                           tppabs="https://www.easybook.com/ferry/operator">Ferry Operators</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/ferry/terminal  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry/terminal%27"
                                           tppabs="https://www.easybook.com/ferry/terminal">Ferry Terminals</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/car  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/car%27"
                                           tppabs="https://www.easybook.com/car">Car Rental</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/tour  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/tour%27"
                                           tppabs="https://www.easybook.com/tour">Local Tours</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27http://hotels.easybook.com/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://hotels.easybook.com/%27"
                                           tppabs="http://hotels.easybook.com/" target="_blank">Hotels</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/vehicle-charter  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/vehicle-charter%27"
                                           tppabs="https://www.easybook.com/vehicle-charter">Vehicle Charter</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/faq  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/faq%27"
                                           tppabs="https://www.easybook.com/faq">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/about  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/about%27"
                                           tppabs="https://www.easybook.com/about">About Us</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/contact  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/contact%27"
                                           tppabs="https://www.easybook.com/contact">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/site-map  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/site-map%27"
                                           tppabs="https://www.easybook.com/site-map">Site Map</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/useful-links  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/useful-links%27"
                                           tppabs="https://www.easybook.com/useful-links">Useful Links</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/privacy-policy  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/privacy-policy%27"
                                           tppabs="https://www.easybook.com/privacy-policy">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/terms-of-use  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/terms-of-use%27"
                                           tppabs="https://www.easybook.com/terms-of-use">Terms Of Use</a>
                                    </li>
                                    <li>
                                        <a href="javascript:if(confirm(%27https://www.easybook.com/advertise-with-us  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/advertise-with-us%27"
                                           tppabs="https://www.easybook.com/advertise-with-us">Advertise With Us</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div><!-- end navbar-collapse -->
                </div><!-- end container-fluid -->
            </nav>
            <!--/////////////////-->

            <div class="tagline hidden-sm hidden-xs">Complete Your Journey</div>
        </div>
        <!--end header-->
    </div>
    <!--end header-wrap-->

    @RenderBody()

    <!--Global Site-->
    <div class="outer clearfix sx-hide">
        <div class="col-sm-12">
            <ul class="global-site clearfix">
                <li>Global Site:</li>
                <li>
                    <a class="flag-sg-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Singapore" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-sg  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-sg%27"
                       tppabs="https://www.easybook.com/en-sg"></a>
                </li>
                <li>
                    <a class="flag-my-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Malaysia" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-my  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-my%27"
                       tppabs="https://www.easybook.com/en-my"></a>
                </li>
                <li>
                    <a class="flag-id-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Indonesia" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/id-id  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/id-id%27"
                       tppabs="https://www.easybook.com/id-id"></a>
                </li>
                <li>
                    <a class="flag-th-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Thailand" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/th-th  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/th-th%27"
                       tppabs="https://www.easybook.com/th-th"></a>
                </li>
                <li>
                    <a class="flag-vn-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Vietnam"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/vi-vn  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/vi-vn%27"
                       tppabs="https://www.easybook.com/vi-vn"></a>
                </li>
                <li>
                    <a class="flag-mm-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Myanmar"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-mm  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-mm%27"
                       tppabs="https://www.easybook.com/en-mm"></a>
                </li>
                <li>
                    <a class="flag-kh-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Cambodia" onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-kh  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-kh%27"
                       tppabs="https://www.easybook.com/en-kh"></a>
                </li>
                <li>
                    <a class="flag-la-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Laos"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-la  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-la%27"
                       tppabs="https://www.easybook.com/en-la"></a>
                </li>
                <li>
                    <a class="flag-bn-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="Brunei"
                       onclick="switchCountry();"
                       href="javascript:if(confirm(%27https://www.easybook.com/en-bn  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/en-bn%27"
                       tppabs="https://www.easybook.com/en-bn"></a>
                </li>
            </ul>


            <ul class="payment-new clearfix">
                <li>We Accept:</li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span> <span class='sprite-payment-small p-enets'></span> <span class='sprite-payment-small p-axs'></span>">SGD</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span> <span class='sprite-payment-small p-mepsFpx'></span> <span class='sprite-payment-small p-maybank2u'></span> <span class='sprite-payment-small p-cimb'></span> <span class='sprite-payment-small p-rhb'></span> <span class='sprite-payment-small p-ambank'></span> <span class='sprite-payment-small p-mobileMoney'></span> <span class='sprite-payment-small p-webcash'></span>">MYR</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-doku'></span> <span class='sprite-payment-small p-mandiri-v2'></span> <span class='sprite-payment-small p-alfamart'></span>">IDR</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">THB</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-123pay'></span> + All major Vietnam domestic banks">VND</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">USD</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">RMB</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">MMK</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-visamaster'></span> <span class='sprite-payment-small p-paypal'></span> <span class='sprite-payment-small p-amex'></span> <span class='sprite-payment-small p-discover'></span> <span class='sprite-payment-small p-jcb'></span> <span class='sprite-payment-small p-unionpay'></span>">BND</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-alipay'></span>">CNY</span>
                </li>
                <li>
                    <span data-toggle="tooltip" data-placement="top"
                          data-original-title="<span class='sprite-payment-small p-onePay'></span>">LAK</span>
                </li>
            </ul>
            <ul class="member clearfix">
                <li>Member of:</li>
                <li>
                    <a class="m-eeba-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="EEBA"
                       href="javascript:if(confirm(%27http://www.eeba.sg/member.html  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.eeba.sg/member.html%27"
                       tppabs="http://www.eeba.sg/member.html" target="_blank" rel="nofollow"></a>
                </li>
                <li>
                    <a class="m-matta-s sprite" data-toggle="tooltip" data-placement="top" data-original-title="MATTA"
                       href="javascript:if(confirm(%27https://www.matta.org.my/member/MA4414  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.matta.org.my/member/MA4414%27"
                       tppabs="https://www.matta.org.my/member/MA4414" target="_blank" rel="nofollow"></a>
                </li>
                <li>
                    <a class="m-tourismMsia-s sprite" data-toggle="tooltip" data-placement="top"
                       data-original-title="Tourism Malaysia"
                       href="javascript:if(confirm(%27http://www.tourism.gov.my/en/us/resources/transportation  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.tourism.gov.my/en/us/resources/transportation%27"
                       tppabs="http://www.tourism.gov.my/en/us/resources/transportation" target="_blank"
                       rel="nofollow"></a>
                </li>
            </ul>
        </div>


        <div class="col-sm-12 text11">
            <span class="m-right20">* Only 0.01% trips slightly higher than counter price.</span>
            <span class="m-right20">
                ** Only applicable for transactions without the use of discount code and trips
                offered by certain companies.
            </span>
            <span class="m-right20">
                *** For certain trips only, discount already reflected in the ticket price itself
                (i.e. lower price than bus counters).
            </span>
            <span class="m-right20">* Bus pictures are for reference only.</span>
            <span class="m-right20">* Trip durations are estimated time only.</span>
        </div>
    </div>

    <!--Footer-->
    <div id="footer" class="outer-wrap bg-dark-grey sx-hide">
        <div class="outer clearfix">
            <div class="col-sm-2" style="width:155px !important;">
                <span class="title">Pages</span>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/about  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/about%27"
                           tppabs="https://www.easybook.com/about">About Us</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/news  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/news%27"
                           tppabs="https://www.easybook.com/news">Latest News</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/deals  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/deals%27"
                           tppabs="https://www.easybook.com/deals">Promotions</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/how-to-book  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/how-to-book%27"
                           tppabs="https://www.easybook.com/how-to-book">How To Book</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/faq  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/faq%27"
                           tppabs="https://www.easybook.com/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/contact  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/contact%27"
                           tppabs="https://www.easybook.com/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/site-map  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/site-map%27"
                           tppabs="https://www.easybook.com/site-map">Site Map</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2" style="width:155px !important;">
                <span class="title">Products</span>
                <ul class="footer">
                    <li><a href="bus-1.htm" tppabs="https://www.easybook.com/bus">Bus Tickets</a></li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/bus/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/bus/operator%27"
                           tppabs="https://www.easybook.com/bus/operator">Bus Operator</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/bus/terminal  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/bus/terminal%27"
                           tppabs="https://www.easybook.com/bus/terminal">Bus Terminals</a>
                    </li>
                </ul>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/train  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train%27"
                           tppabs="https://www.easybook.com/train">Train Tickets</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/train/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train/operator%27"
                           tppabs="https://www.easybook.com/train/operator">Train Operator</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/train/station  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/train/station%27"
                           tppabs="https://www.easybook.com/train/station">Train Stations</a>
                    </li>
                </ul>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/ferry  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry%27"
                           tppabs="https://www.easybook.com/ferry">Ferry Tickets</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/ferry/operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry/operator%27"
                           tppabs="https://www.easybook.com/ferry/operator">Ferry Operator</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/ferry/terminal  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/ferry/terminal%27"
                           tppabs="https://www.easybook.com/ferry/terminal">Ferry Terminal</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2" style="width:155px !important;">
                <ul class="footer">
                    <li class="m-top35">
                        <a href="javascript:if(confirm(%27https://www.easybook.com/flight  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/flight%27"
                           tppabs="https://www.easybook.com/flight">Flight Tickets</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/flight/airline  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/flight/airline%27"
                           tppabs="https://www.easybook.com/flight/airline">Airlines</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/flight/airport  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/flight/airport%27"
                           tppabs="https://www.easybook.com/flight/airport">Airport</a>
                    </li>
                </ul>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/car  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/car%27"
                           tppabs="https://www.easybook.com/car">Car Rental</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/charter  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/charter%27"
                           tppabs="https://www.easybook.com/charter">Vehicle Charter</a>
                    </li>
                    <li><a href="#hotel-partners" data-toggle="modal">Hotel Room</a></li>


                </ul>
            </div>
            <div class="col-sm-2" style="width:155px !important;">
                <span class="title">Mobile Apps</span>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://play.google.com/store/apps/details?id=easiphone.easibookbustickets&hl=en  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://play.google.com/store/apps/details?id=easiphone.easibookbustickets&hl=en%27"
                           tppabs="https://play.google.com/store/apps/details?id=easiphone.easibookbustickets&hl=en"
                           target="_blank">Android</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://apps.apple.com/us/app/easybook-bus-train-ferry-car/id668514565  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://apps.apple.com/us/app/easybook-bus-train-ferry-car/id668514565%27"
                           tppabs="https://apps.apple.com/us/app/easybook-bus-train-ferry-car/id668514565"
                           target="_blank">iOs</a>
                    </li>

                </ul>
                <br />
                <span class="title">Information</span>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/info  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/info%27"
                           tppabs="https://www.easybook.com/info" target="_blank">Information</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/info/publicholiday  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/info/publicholiday%27"
                           tppabs="https://www.easybook.com/info/publicholiday" target="_blank">Public Holidays</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/info/schoolholiday  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/info/schoolholiday%27"
                           tppabs="https://www.easybook.com/info/schoolholiday" target="_blank">School Holidays</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2" style="width:155px !important;">
                <span class="title">Others</span>
                <ul class="footer">
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/sign-up-operator  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/sign-up-operator%27"
                           tppabs="https://www.easybook.com/sign-up-operator" class="highlight-link">
                            Become Our
                            Supplier
                        </a>
                    </li>
                    <li>
                        <a class="highlight-link"
                           href="javascript:if(confirm(%27https://www.easybook.com/affiliate  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/affiliate%27"
                           tppabs="https://www.easybook.com/affiliate">Become Our Affiliate/Agent</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/easipoint-rewards  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/easipoint-rewards%27"
                           tppabs="https://www.easybook.com/easipoint-rewards">Loyalty Program</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/useful-links  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/useful-links%27"
                           tppabs="https://www.easybook.com/useful-links">Useful Links</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/privacy-policy  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/privacy-policy%27"
                           tppabs="https://www.easybook.com/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/terms-of-use  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/terms-of-use%27"
                           tppabs="https://www.easybook.com/terms-of-use">Terms Of Use</a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.easybook.com/advertise-with-us  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.easybook.com/advertise-with-us%27"
                           tppabs="https://www.easybook.com/advertise-with-us">Advertise With Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <span class="title">Follow Us</span>
                <ul class="social-media clearfix">

                    <li>
                        <a href="javascript:if(confirm(%27https://www.facebook.com/easybook  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.facebook.com/easybook%27"
                           tppabs="https://www.facebook.com/easybook" target="_blank" rel="nofollow">
                            <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://twitter.com/easybook_com  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://twitter.com/easybook_com%27"
                           tppabs="https://twitter.com/easybook_com" target="_blank" rel="nofollow">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:if(confirm(%27https://www.pinterest.com/easybook  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.pinterest.com/easybook%27"
                           tppabs="https://www.pinterest.com/easybook" target="_blank" rel="nofollow">
                            <i class="fa fa-fw fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm(%27https://www.instagram.com/easybook.travel/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.instagram.com/easybook.travel/%27"
                           tppabs="https://www.instagram.com/easybook.travel/" target="_blank" rel="nofollow">
                            <i class="fa fa-fw fa-instagram"></i>
                        </a>
                    </li>

                </ul>
                <div class="text12 text-white m-top25">
                    <p class="text-left">
                        © 2006-2019 Easybook.com Pte Ltd. All Rights Reserved. </br> TA Licence: 02152 </br> License No:
                        KPK/LN:6768 <br />
                        Your IP address: 192.119.160.132 <br />
                        Server: G3ASEBW01
                    </p>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(function () {
            var active = true;
            $('#collapse-init').click(function () {
                if (active) {
                    active = false;
                    $('.panel-collapse').collapse('show');
                    $(this).html(JsCommonMsg.ShowLess + ' <i class="fa fa-fw fa-angle-up"></i>');
                } else {
                    active = true;
                    $('.panel-collapse').collapse('hide');
                    $(this).html(JsCommonMsg.ShowMore + ' <i class="fa fa-fw fa-angle-down"></i>');
                }
            });
            $('#accordion').on('show.bs.collapse', function () {
                if (active) $('#accordion .in').collapse('hide');
            });
        });
    </script>

</body>

</html>
